/* || GENERAL */
.clickable{
    cursor: pointer;
}

/* ... */


/* || Product Card */

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 160px;
    height: 180px;
    background: #F0F0F0;
    border-radius: 15px;
}

.product-logo {
    width: 120px;
}

.product-description {
    font-size: medium;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
}

.product-btn {
    /* ProductActionButton */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: relative;
    width: 100px;
    height: 40px;
    background: linear-gradient(180deg, rgba(217, 38, 59, 0.4) 0%, rgba(120, 120, 125, 0.4) 100%);
    border-radius: 10px;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 15px;
}

.product-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* spacing between cards */
    padding: 20px;
}

/* … */


/* || TOP ROW */
.top-row {
    background-color: #f7f7f7;
    /* border-bottom: 1px solid #d6d5d5; */
    justify-content: flex-end;
    height: 86.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(198, 197, 207, 1) 100%);
}

.cart-parent{
    display: flex;
}

.cart-image-container{
    padding-right: 2em;
}

.cart-image{
    height: 30px;
    transform: translate(0, -20%);
}

.checkout-button{
    padding-right: 1em;
    box-sizing: border-box;
}


.hover-click:hover{
    background-color: white;
}